# Python cache files
pycache__/
__pycache__/
pycache/
*.pyc

# Environment variables
.env
.env.local

# Python virtual environments
venv/

# Node dependencies
node_modules/
frontend/node_modules/.cache/

# Build output
dist/
